
.section{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.main{
	text-align: center
}

.menu{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.touches ul li{
	margin: 50px;
}
