#products{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.addcart{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.addcart form{
	height: 20%;
}

#products{
}


hr{
	width: 20%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	opacity: 0.2;
}
